<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome pet lovers!!</h1>
    <h3>You can check pets available for adoption here:</h3>
    <p>
        <a href="/dogs/adoption">Dogs</a>
        <br><a href="/cats/adoption">Cats</a>
    </p>
    <h3>Rescued a pet? Add them to our adoption pages:</h3>
    <p>
        <a href="/dogs/create">Dog Adoption</a>
        <br><a href="/cats/create">Cat Adoption</a>
    </p>
</body>
</html>