<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Dog Adoption</h1>
  <ul> 
  <% dogsavailable.forEach(dog => { %>
    <li>
      <%= dog.name %>:
      <%= dog.adopted ? 'adopted' : 'available' %>
    </li>
  <% }) %>
  </ul>

  <a href="/">Return Home</a>
</body>
</html>